

<div class="">
    <div class="aHl"></div>
    <div id=":mp" tabindex="-1"></div>
    <div id=":ok" class="ii gt">
        <div id=":lh" class="a3s aXjCH msg6526232312625604811">
            <u></u>

            <div bgcolor="#E3E3E3" marginwidth="0" marginheight="0">
                <div style="display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
                    <div class="m_6526232312625604811mktEditable" id="m_6526232312625604811Preheader_Text"><span class="m_6526232312625604811preheader">Introducing new Surface Hub 2S.</span></div>
                </div>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td width="100%" valign="top" bgcolor="#E3E3E3" align="center">                              
                                <table align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor="#FFFFFF">                                                
                                                <div class="m_6526232312625604811mktEditable" id="m_6526232312625604811A zone - Banner">
                                                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="m_6526232312625604811mob_padding m_6526232312625604811mob_full_width" style="background-color:#ffffff" width="640">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#ffffff">
                                                                    <table class="m_6526232312625604811mob_full_width m_6526232312625604811mobhide" style="width:640px" cellspacing="0" cellpadding="0" align="center" border="0" width="640">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0 0 0 0" align="center">
                                                                                    <div style="height:230px">
                                                                                        <a href="" style="text-decoration:none" target="_blank"><img style="display:inline-block;border-bottom:3px solid grey" src="http://128.199.231.68/public/default/fw_banner.jpg" alt="Person in front of Surface Hub device" align="center" height="230" border="0" width="640" class="CToWUd"></a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="24" style="font-size:1px;line-height:24px;font-family:'Segoe UI',SUWR,Arial,Sans-Serif;font-weight:300">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="m_6526232312625604811mob_padding0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="width:100%;min-width:100%" align="left">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" style="font-family:'Segoe UI',SUWR,Arial,Sans-Serif;font-weight:300;font-size:38px;line-height:48px;color:#464646;text-align:left;padding:0px 24px 24px 24px">Hi Coordinator {{email}}!</td>
                                                                            </tr>                                                                        
                                                                            <tr>
                                                                                <td align="left" style="font-family:'Segoe UI',SUWR,Arial,Sans-Serif;font-weight:400;font-size:15px;line-height:20px;color:#464646;text-align:left;padding:0px 24px 24px 24px">
                                                                                    
                                                                                    <p>
                                                                                        User with email <strong>{{postemail}}</strong> just post a new article.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td valign="top" style="border-collapse:separate;padding:0px 0px 0px">
                                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="" style="margin:0px auto">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="center" valign="middle" style="background:#0078d7;border-collapse:separate;display:block;font-family:'Segoe UI',SUWR,Arial,Sans-Serif;font-weight:400;font-size:20px;line-height:40px;padding:0px 24px 0px 24px;text-align:center;text-decoration:none" bgcolor="#0078D7">
                                                                                                    <a href="http://128.199.231.68:81/review-article?id={{articleid}}&userid={{userpost}}" style="text-decoration:none" target="_blank"><strong style="font-weight:400;color:#ffffff">PLease review through this link </strong></a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="24" style="font-size:1px;line-height:24px;font-family:'Segoe UI',SUWR,Arial,Sans-Serif;font-weight:400">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="m_6526232312625604811mktEditable m_6526232312625604811rest_paragraph" id="m_6526232312625604811Emergency Message Zone">
                                                    <div height="0" style="font-size:0px;line-height:0px">&nbsp;</div>
                                                </div>
                                                <div class="m_6526232312625604811mktEditable" id="m_6526232312625604811B zone - Body">
                                                    <div height="0" style="font-size:0px;line-height:0px">&nbsp;</div>
                                                </div>
                                                <div class="m_6526232312625604811mktEditable m_6526232312625604811rest_paragraph" id="m_6526232312625604811C zone - CTA">
                                                    <div height="0" style="font-size:0px;line-height:0px">&nbsp;</div>
                                                </div>
                                               
                                             

                                             
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="48" style="font-size:1px;line-height:48px;font-family:'Segoe UI Semilight','Segoe UI Regular',SUWR,Arial,Sans-Serif">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="http://emails.microsoft.com/n0GT04300hWq0EQ0pp5jEMH" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://emails.microsoft.com/n0GT04300hWq0EQ0pp5jEMH&amp;source=gmail&amp;ust=1555825371912000&amp;usg=AFQjCNFATuqVCneyq1oZ3_u9waIO4IUvZg"></a>
                <img src="https://ci5.googleusercontent.com/proxy/ZESYpSe-aUkDLjlQpfQAmw7D3y3M8fd7m-x7Ekkhv-Dhgu4oKghH6BjIDjktOWinRvaBMuV3GQ46w73zXpXHFSY_yirOHTSSxJcUgUqEKNYYfeTSvqYgYOq5JplQRFLJjzBPsMq_XOi4fg3Wox3mpMNFc6eCvBXz-3PlrapxsqeDW9WF86WSVxx7oruJngePfgDkZqK0vfrdBjiM4u-v8iOEj4nstG_Hk9zR2Nma02mzLkKI=s0-d-e1-ft#http://emails.microsoft.com/trk?t=1&amp;mid=MTU3LUdRRS0zODI6NTI5ODA0OjQxNTA5NDoyNTgyNTg0OjA6NTQ4MDAzOjk6MTM4MjQyODo4NDE5NjczNy0yOTptYW5obmRnY2gxNjIzNkBmcHQuZWR1LnZu" width="1" height="1" style="display:none!important" alt="" class="CToWUd">
                <div class="yj6qo"></div>
                <div class="adL">

                </div>
            </div>
            <div class="adL">
            </div>
        </div>
    </div>
    <div id=":ml" class="ii gt" style="display:none">
        <div id=":mk" class="a3s aXjCH undefined"></div>
    </div>
    <div class="hi"></div>
</div>